# Text Data - IMDB

## Import the Data

In [19]:
import pandas as pd
import nltk
from nltk.corpus import stopwords    
import random 
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\onkar.patil\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [14]:
df=pd.read_csv('./IMDB Dataset/IMDB Dataset.csv')  # Downloaded from the kaggle - https://www.kaggle.com/datasets/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews?resource=download

In [15]:
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

## Create Numerical Features

In [17]:
# create column containing length of the corpes
df['length']=df['review'].map(lambda x:len(x.split()))

# create a column containing comma count
df['comma']=df['review'].str.count(",")

# create a column containing stopwords count
stop_words = set(stopwords.words('english'))
df['stopwords'] = df['review'].str.split().apply(lambda x: len(set(x) & stop_words))

# print df head
df.head()

,review,sentiment,length,comma,stopwords
0,One of the other reviewers has mentioned that ...,positive,307,26,48
1,A wonderful little production. <br /><br />The...,positive,162,5,26
2,I thought this was a wonderful way to spend ti...,positive,166,6,32
3,Basically there's a family where a little boy ...,negative,138,3,28
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,230,12,39

## Drop few entries

In [20]:
# Drop few values randomly
tmp=[random.randint(0,49999) for i in range(50)]
for i in tmp:
    df.loc[i,'comma']=None
    df.loc[i,'stopwords']=None
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
 2   length     50000 non-null  int64
 3   comma      49950 non-null  float64
 4   stopwords  49950 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.9+ MB

In [21]:
# save the final dataset
df.to_csv('Text_data.csv')